# Android / Gradle
*.iml
.gradle/
local.properties
/.idea/
.idea/
**/build/
captures/
.externalNativeBuild/
.cxx/
# Keystore / signing
*.jks
*.keystore
# Outputs / bundles
*.apk
*.aab
# Misc
.DS_Store
Thumbs.db
# Ignore accidental resource backups
app/src/main/res/**/.bak*
app/src/main/res/**/*.bak*
app/src/main/res/**/.orig*
app/src/main/res/**/*.orig*
app/src/main/res/**/.tmp*
app/src/main/res/**/*.tmp*
